#pymongo==4.6.1
#datasets==2.17.0
#langchain==0.1.12
#langchain-google-genai==0.0.7
#langchain-openai==0.0.5
#langgraph==0.0.26
#tiktoken==0.5.2
#sentence_transformers
#tqdm==4.66.1
pymongo
datasets
langchain
sentence_transformers
tqdm
huggingface_hub
llama-cpp-python
